.tab {
  margin-left: 10px;
}

.button {
  width: 350px;
  height: 80px;
}

#help {
  position: absolute;
  left: 240px;
}

#back {
  position: absolute;
  left: 0px;
}

#save {
  position: absolute;
  left: 120px;
}

.globalButton {
  width: 120px;
  height: 60px;
  top: 330px;
}

#groceries {
  height: 275px;
  width: 350px;
  max-height: 275px;
  max-width: 350px;
  background-color: #FFFFFF;
  text-align: left;
  border-color: #555555;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
}

#instructions {
  height: 300px;
  width: 350px;
  max-height: 300px;
  max-width: 350px;
  background-color: #FFFFFF;
  text-align: left;
  border-color: #555555;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
}

#savedSelection {
  position: absolute;
  top: 80px;
}

.listbox {
  width: 350px;
}